@font-face {
	font-weight: normal;
	font-style: normal;

	font-family: "symbols-nerds";
	src: url("../fonts/symbols-nerds.woff") format("woff"),
	   url("../fonts/symbols-nerds.woff2") format("woff2");
}
