.basket {
	float: right;
}

.basket__icon::before {
	content: "\62";
	margin-right: 25px;
	font-family: "symbols-nerds";
	font-size: 16px;
	line-height: 8.56px;
	color: #000;
	opacity: 0.3;
}

.basket__icon:hover::before {
  color: #fb565a;
  opacity: 1;
}

.basket__icon:focus::before {
  color: #000;
  opacity: 0.15;
}

.basket__cart {
	display: inline-block;
  line-height: 30px;
  font-size: 14px;
	vertical-align: top;
	text-decoration: none;
	text-transform: uppercase;
  color: #000;

  &:hover {
  	color: #fb565a;
  }

  &:focus {
  	color: #000;
  	opacity: 0.4;
  }
}

@media (min-width: 961px) and (max-width: 1150px) {

}

@media (min-width: 768px) and (max-width: 960px) {

  .basket {
    float: none;
    margin-bottom: 40px;
    text-align: center;
  }
}

@media (min-width: 540px) and (max-width: 767px) {

  .basket {
    float: none;
    margin-bottom: 40px;
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 539px) {

  .basket {
    float: none;
		margin-top: 40px;
    text-align: center;
  }

  .basket__icon::before {
  	content: "";
  	margin-right: 0;
  }
}
