.services {
	margin-bottom: 40px;
	padding-bottom: 40px;
  text-align: center;
  font-size: 0;
	border-bottom: 2px solid #eee;
}

.services__wrapper {
  max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

.services-site {
	width: 20%; // 240px / 1200px
	display: inline-block;
  vertical-align: top;
	margin-right: 6.666666666666667%; // 80px / 1200px
}

.services-site__title {
	margin-top: 17px;
	font-size: 15px;
	text-transform: uppercase;
}

.services-site__text {
	margin-top: 15px;
	margin-bottom: 25px;
	font-size: 15px;
	font-weight: 500;
	line-height: 22px;
	color: #283136;
}

.services-site__link {
	display: inline-block;
	width: 75px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	text-decoration: none;
	border-radius: 2px;
	background-color: #fb565a;
	padding: 8px 32px;

  &:hover {
  	background-color: #d6494d;
  	color: #f4d9d9;
  }

  &:active {
  	background-color: #b63538;
  	color: #f4d9d9;
  }

  &:focus {
  	background-color: #b63538;
  	box-shadow: inset 0 3px #9b2d30;
  }
}

.services-apps {
	width: 20%; // 240px / 1200px
  display: inline-block;
  vertical-align: top;
	margin-right: 6.666666666666667%; // 80px / 1200px
}

.services-apps__title {
	margin-top: 17px;
	margin-left: -5px;
	font-size: 15px;
	text-transform: uppercase;
}

.services-apps__text {
	margin-top: 15px;
	margin-bottom: 25px;
	font-size: 15px;
	font-weight: 500;
	line-height: 22px;
	color: #283136;
}

.services-apps__link {
	display: inline-block;
	width: 75px;
	padding: 8px 32px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	text-decoration: none;
	border-radius: 2px;
	background-color: #00ca74;

  &:hover {
  	background-color: #01a25e;
  	color: #f4d9d9;
  }

  &:active {
  	background-color: #009053;
  	color: #f4d9d9;
  }

  &:focus {
  	background-color: #b63538;
  	box-shadow: inset 0 3px #9b2d30;
  }
}

.services-presentations {
	width: 20%; // 240px / 1200px
  display: inline-block;
  vertical-align: top;
}

.services-presentations__title {
	margin-top: 17px;
	margin-left: -4px;
	font-size: 15px;
	text-transform: uppercase;
}

.services-presentations__text {
	margin-top: 15px;
	margin-bottom: 25px;
	font-size: 15px;
	font-weight: 500;
	line-height: 22px;
	color: #283136;
}

.services-presentations__link {
	display: inline-block;
	width: 75px;
	padding: 8px 32px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	text-decoration: none;
	border-radius: 2px;
	background-color: #efc84a;

  &:hover {
  	background-color: #d6ae2c;
  	color: #f4d9d9;
  }

  &:active {
  	background-color: #c09b24;
  	color: #f4d9d9;
  }

  &:focus {
  	background-color: #b63538;
  	box-shadow: inset 0 3px #9b2d30;
  }
}

@media (min-width: 961px) and (max-width: 1150px) {

}

@media (min-width: 768px) and (max-width: 960px) {

  .services-site {
  	width: 22%;
  }

  .services-apps {
  	width: 22%;
  }

  .services-presentations {
  	width: 22%;
  }
}

@media (min-width: 540px) and (max-width: 767px) {

  .services-site {
  	width: 26.66666666666667%;
  }

  .services-apps {
  	width: 26.66666666666667%;
  }

  .services-presentations {
  	width: 26.66666666666667%;
  }
}

@media (min-width: 320px) and (max-width: 539px) {

  .services-site {
  	width: 100%;
    display: block;
  	margin-right: 0;
    margin-bottom: 40px;
  }

	.services-site__title {
  	margin-top: 0;
	}

  .services-apps {
  	width: 100%;
    display: block;
  	margin-right: 0;
		margin-bottom: 40px;
  }

	.services-apps__title {
  	margin-top: 0;
	}

  .services-presentations {
  	width: 100%;
    display: block;
  }

	.services-presentations__title {
  	margin-top: 0;
	}
}
