.slider {
	position: relative;
	width: 100%;
	margin-bottom: 40px;
	background-color: #eee;
}

.slider__wrapper {
	max-width: 1200px;
  min-width: 320px;
  margin: 0 auto;
}

.slider__radio {
	position: absolute;
	opacity: 0;
}

.slider-control {
	position: absolute;
	bottom: 95px;
	left: 50%;
	margin-left: -100px;
	z-index: 1000;
	text-align: center;
}

.slider-control__btn {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin-left: 3px;
	vertical-align: top;
	background-color: #fff;
	border: 3px solid #fff;
	border-radius: 50%;
	cursor: pointer;
}

#btn-1:checked ~ .slider-control label[for="btn-1"],
#btn-2:checked ~ .slider-control label[for="btn-2"],
#btn-3:checked ~ .slider-control label[for="btn-3"] {
	background-color: #c1c1c1;
}

.slide {
	width: 100%;
	overflow: hidden;
}

.slide-description {
	float: left;
	padding: 40px 0;
}

.slide-description__tagline {
	font-size: 36px;
	font-weight: 500;
	line-height: 36px;
}

.slide-description__text {
	max-height: 92px;
	overflow: hidden;
}

.slide-gadgets {
	float: right;
	padding-top: 20px;
}

.slide-calculator {
	float: right;
	padding-top: 24px;
	padding-right: 10px;
}

.slide-robot {
	float: right;
	padding-right: 8px;
}

.slide {
	display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
	display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
	display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
	display: block;
}

.btn-more-info {
	display: inline-block;
	width: 230px;
	padding: 10px 5px;
	margin-top: 14px;
	font-size: 12px;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: top;
	color: #fff;
	border-radius: 2px;
	background-color: #fb565a;
	border: none;
	outline: none;
	cursor: pointer;

  &:hover {
  	background-color: #d6494d;
  }

  &:focus {
  	background-color: #b63538;
  	box-shadow: inset 0 3px #9b2d30;
  }
}

@media (min-width: 961px) and (max-width: 1150px) {

}

@media (min-width: 768px) and (max-width: 960px) {

  .slider {
    padding-top: 40px;
  }

  .slider-control {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    width: 100%;
    margin-left: 0;
    margin: 0 auto;
  }

  .slider-control__btn {
  	width: 15px;
  	height: 15px;
  	margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }

  .slide-gadgets {
    float: none;
    padding-top: 0;
    text-align: center;
  }

  .slide-calculator {
    float: none;
    padding-top: 0;
    padding-right: 0;
    text-align: center;
  }

  .slide-robot {
    float: none;
    padding-right: 0;
    text-align: center;
  }

  .slides {
    text-align: center;
  }

  .slide-description {
    float: none;
  }
}

@media (min-width: 540px) and (max-width: 767px) {

  .slider {
    padding-top: 40px;
  }

  .slider-control {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    width: 100%;
    margin-left: 0;
    margin: 0 auto;
  }

  .slider-control__btn {
  	width: 15px;
  	height: 15px;
  	margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }

  .slide-gadgets {
    float: none;
    padding-top: 0;
    text-align: center;
  }

  .slide-calculator {
    float: none;
    padding-top: 0;
    padding-right: 0;
    text-align: center;
  }

  .slide-robot {
    float: none;
    padding-right: 0;
    text-align: center;
  }

  .slides {
    text-align: center;
  }

  .slide-description {
    float: none;
  }
}

@media (min-width: 320px) and (max-width: 539px) {

	.slider {
		padding-top: 40px;
	}

  .slider-control {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    width: 100%;
    margin-left: 0;
    margin: 0 auto;
  }

  .slider-control__btn {
  	width: 15px;
  	height: 15px;
  	margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }

  .slide-description {
    float: none;
		margin-bottom: 40px;
    padding: 0;
    text-align: center;
  }

  .slide-gadgets {
    float: none;
    padding-top: 0;
    text-align: center;
  }

  .slide-calculator {
    text-align: center;
  }

  .slide-robot {
    text-align: center;
  }
}
