.welcom {
  width: 670px;
	margin: 0 auto;
	padding-top: 56px;
	padding-bottom: 83px;
	padding-right: 11px;
}

.welcom__title {
  margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}
