@media (min-width: 1150px) {
  .wrapper-main {
  	width: 1130px;
  	padding: 0 10px;
  	margin: 0 auto;
  }

  .logo {
    margin-right: 230px;
  }

  .services {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  .services-site,
  .services-apps {
    margin-right: 0;
  }

  .services-site__link,
  .services-apps__link,
  .services-presentations__link {
    width: 73%;
  }

  .company-info {
    width: 100%;
    text-align: center;
  }

  .company-info,
  .company-offers {
    padding-right: 0;
  }

  .company-offers {
    width: 440px;
    float: left;
    padding-left: 40px;
    padding-left: 107px;
  }

  .company-benefits {
    float: right;
    padding-left: 0;
    padding-right: 110px;
  }

  .company-logo {
    display: none;
  }

  .partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .map-info {
    left: -110px;
    bottom: 30px;
  }

  .discount__discount {
    text-align: center;
  }

  .slide {
    left: 137px;
  	width: 980px;
  }

  .wrapper-catalog {
    width: 800px;
    display: inline-block;
    margin-bottom: 60px;
    text-align: center;
    vertical-align: top;
  }

  .aviator,
  .sunset,
  .forte,
  .modern-thai,
  .avenue,
  .dovetail {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .pagination {
    margin-top: 30px;
  }

  .modal-window {
    top: 600px;
  }
}

@media (min-width: 768px) {
  .wrapper-main {
  	width: 748px;
  	padding: 0 10px;
  	margin: 0 auto;
  }

  .logo {
    margin-right: 18px;
  }

  .basket {
    margin-right: 10px;
  }

  .services {
    display: flex;
    justify-content: space-between;
    text-align: center;
  }

  .services-site,
  .services-apps {
    margin-right: 0;
  }

  .services-site__link,
  .services-apps__link,
  .services-presentations__link {
    width: 73%;
  }

  .company-logo {
    display: none;
  }

  .company-info {
    width: 100%;
    text-align: center;
  }

  .company-info,
  .company-offers {
    padding-right: 0;
  }

  .company-offers {
    width: 440px;
    float: left;
  }

  .company-benefits {
    float: right;
    padding-left: 0;
  }

  .partners {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .catalog-content {
    padding-top: 20px;
  }

  .filters {
  }

  .price-filter {
  width: 100%;
  }

  .price-field-max__input,
  .price-field-min__input {
  }

  .wrapper-catalog {
    width: 500px;
    padding-left: 0;
  }

  .aviator,
  .sunset,
  .forte,
  .modern-thai,
  .avenue,
  .dovetail {
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .discount {
    width: 460px;
  }

  .discount__promo {
    font-size: 30px;
  }

  .slider__wrapper-main {
    width: 740px;
  }

  .slide {
    left: 0px;
  	width: 768px;
  }

  .slide-gadgets,
  .slide-calculator,
  .slide-robot {
    margin-right: 10px;
  }

  .slide-description {
    width: 310px;
    margin-left: 10px;
  }

  .slide-robot {
    padding-right: 0;
  }

  .slider-control {
    bottom: 45px;
    left: 56%;
    width: 120px;
  }

  .slider-control__btn {
    width: 24px;
    height: 24px;
  }

  #btn-1:checked ~ .slider-control label[for="btn-1"],
  #btn-2:checked ~ .slider-control label[for="btn-2"],
  #btn-3:checked ~ .slider-control label[for="btn-3"] {
    background-color: #b63538;
  }

  .map__wrapper {
    width: 740px;
  }
}

@media (max-width: 320px) {
  .wrapper-main {
  	width: 300px;
  	padding: 0 10px;
  	margin: 0 auto;
  }

  .logo {
    float: none;
    margin-right: 0;
    margin: 0 auto;
    display: block;
  }

  .main-menu {
    float: none;
    width: 300px;
  }

  .main-menu__item {
    display: block;
  }

  .basket {
  float: none;
  min-width: 100px;
  }

  .slider {
    display: none;
  }

  .slider__wrapper-main {
    width: 300px;
  }

  .services-site,
  .services-apps,
  .services-presentations {
    margin-right: 0;
  }

  .company-info, .company-offers {
    width: 0px;
    padding-right: 0px;
    text-align: center;
  }

  .company-logo {
    padding-left: 0px;
    margin: 0 auto;
    display: block;
  }
}
